
log_level        :info
log_location     STDOUT
verbose_logging true

chef_server_url  "$chef_server_url"
validation_client_name "chef-validator"
#if $node_name
node_name "$node_name"
#end if

file_backup_path   "/var/lib/chef"
file_cache_path    "/var/cache/chef"

pid_file           "/var/run/chef/client.pid"

